#Ignore all Gerdau confidential
confidential

#Ignore data masking files
prepScripts

#Ignore Mac system files
.DS_Store

#Ignore jupy checkpoints
.ipynb_checkpoints

#Ignore VsCode
.vscode

#Ignore pipfile.lock
Pipfile.lock

#Ignore zip
submission.zip

#Docker
Dockerfile
*.yml

#Pipenv & Other Env
Pipfile
requirements.txt

#Gitignore
.gitignore