[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipython-genutils = "*"
jedi = "*"
jupyter = "*"
pylint = "*"
xz = "*"

[packages]
faker = "*"
joblib = "*"
openpyxl = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
pandas = "*"
scipy = "*"

[requires]
python_version = "3.7"
